[parquet_to_minio.destination.filesystem]
bucket_url = 

[parquet_to_minio.destination.filesystem.credentials]
aws_access_key_id = 
aws_secret_access_key = 
endpoint_url = 


[s3_to_adls.destination.filesystem]
bucket_url = 

[s3_to_adls.destination.filesystem.credentials]
account_name = 
account_key = 

[s3_to_adls.sources.filesystem]
bucket_url = ""

[s3_to_adls.sources.filesystem.credentials]
aws_access_key_id = 
aws_secret_access_key = 
endpoint_url = 