[parquet_to_minio.destination.filesystem]
bucket_url = 

[parquet_to_minio.destination.filesystem.credentials]
aws_access_key_id = 
aws_secret_access_key = 
endpoint_url = 

[s3_to_adls.destination.filesystem]
bucket_url = 

[s3_to_adls.destination.filesystem.credentials]
azure_storage_account_name = 
azure_storage_account_key =

[sources.credentials]
aws_access_key_id = 
aws_secret_access_key = 
endpoint_url =

[destination.clickhouse.credentials]
database = "dlt"                        
username = "dlt"                         
password = "Dlt*12345789234567"         
host = "localhost"                       
port = 9000                              
http_port = 
secure = 0